<div class="secao">
    <div class="d-flex justify-content-end gap-4">
        <a href="/agente/cadastrar">
            <button class="botao-cadastrar-usuario btn btn-success">Cadastrar</button>
        </a>
    </div>
    <h3>Usuários Cadastrados</h3>

    {{#if usuarios.length}}

    {{#each usuarios}}
    <div class="card usuarios-card">
        <div class="usuarios-card-infomacoes">
            <div>
                <p class="truncated-text">{{nome}}</p>
            </div>
            <div>
                <p>{{cpf}}</p>
            </div>
        </div>
        <div class="usuarios-card-botoes">
            <div>
                <a href="/agente/usuarioEditar/{{_id}}" class="btn btn-secondary">Editar <i class="bi bi-pencil"></i></a>
            </div>
            <div>
                <a href="/agente/usuarioExcluir/{{_id}}" class="btn btn-danger" onclick="return confirm('Tem certeza que deseja excluir este usuário?');">Excluir <i class="bi bi-trash3"></i></a>
            </div>
            <div>
                <a href="/agente/usuarioVisualizar/{{_id}}" class="btn btn-dark">Visualizar <i class="bi bi-eye"></i></a>
            </div>
        </div>
    </div>
    {{/each}}
</div>

{{else}}
<p>Nenhum usuário encontrado.</p>
{{/if}}
</div>